﻿@{
    ViewBag.Title = "Imeline ajalugu";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Monika proovitöö ADMi juunior front-end arendaja ametikohale">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <title>Proovitöö</title> 
    <style>
        .accordion {
            background-color: white;
            color: black;
            cursor: pointer;
            padding: 18px;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 25px;
            font-family: 'Times New Roman', sans-serif;
            font-weight: 800;
            transition: 0.4s;
        }

            .active, .accordion:hover {
                background-color: #fff;
            }

        .panel {
            padding: 0 18px;
            display: none;
            background-color: white;
            overflow: hidden;
        }

        #container {
            width: 100%;
            position: absolute;
            visibility: hidden;
            display: none;
            background-color: transparent;
        }

            #container:target {
                visibility: visible;
                display: block;
            }

        .reveal-modal {
            background: #e1e1e1;
            margin: 0 auto;
            position: fixed;
            vertical-align: middle;
            width: 70%;
            z-index: 41;
            top: 25%;
            padding: 30px;
            -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.4);
            -moz-box-shadow: 0 0 10px rgba(0,0,0,0.4);
            box-shadow: 0 0 10px rgba(0,0,0,0.4);
        }

        .content {
            max-width: 950px;
            margin: auto;
        }

        .parent {
            width: 100%;
            height: 110px;
            border-radius: 12px;
            display: -ms-flexbox;
            display: flexbox;
            display: flex;
            bottom: 10px;
        }

        #space {
            width: 10px;
            display: inline-block;
        }

        .child {
            font-family: 'Lato', sans-serif;
            font-size: 16px;
            height: auto;
            display: inline-block;
            bottom: 10px;
        }

        .centered {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        #ribbon {
            margin: auto;
            padding-top: 0px;
            font-family: Calibri;
        }

        h1 {
            font-family: Calibri;
            font-weight: 700;
            background: #a62300;
            background: -moz-linear-gradient(top, #e66850, #a62300);
            background: -webkit-gradient(linear, left top, left bottom, from(#e66850), to(#a62300));
            padding: 10px 50px;
            margin-left: 20px;
            margin-top: 0;
            position: relative;
            width: 215px;
            color: #fff;
            text-shadow: 0 1px 0 black;
        }

        .arrow {
            width: 0;
            height: 0;
            line-height: 0;
            border-left: 100px solid transparent;
            border-right: 110px solid transparent;
            border-top: 10px solid #a62300;
            top: 100%;
            left: 0;
            position: absolute;
        }

        .valiTeema {
            position: static;
            font-family: Calibri;
            max-width: 540px;
            font-size: 20px;
            text-shadow: 1px 1px 1px #fff;
        }

        .paneKokku {
            position: static;
            font-family: Calibri;
            max-width: 940px;
            font-size: 16px;
            text-shadow: 1px 1px 1px #fff;
        }

        .text-block {
            position: static;
            bottom: 20px;
            right: 20px;
            background-color: transparent;
            color: black;
            padding-left: 20px;
            padding-right: 20px;
        }

        #logoparent {
            font-family: Georgia;
            display: inline-block;
        }

        .logo-parem {
            display: inline-block;
            float: right;
            font-family: Georgia;
            font-size: 100px;
            z-index: 100;
        }

        .imeline {
            position: absolute;
            font-family: Georgia;
            font-size: 13px;
            z-index: 10;
            text-shadow: 1px 1px 1px #fff;
            -ms-transform: rotate(290deg); /* IE 9 */
            -webkit-transform: rotate(290deg); /* Safari 3-8 */
            transform: rotate(290deg);
        }

        .valiArtiklid {
            background: url(../images/icon-arrow-down.png) left no-repeat;
            padding-left: 44px;
            margin-top: 33px;
            font-family: Georgia;
            font-size: 30px;
            font-weight: 700;
            color: #a62300;
            text-shadow: 1px 1px 1px #fff;
        }

        .alumine-vasak {
            float: left;
            max-width: 580px;
            font-family: Calibri;
            font-size: 20px;
            padding-bottom: 20px;
        }

        .alumine-parem {
            float: right;
            margin-left: 10px;
        }

        .footer {
            background-color: #3b3530;
            padding-top: 20px;
            padding-bottom: 20px;
            font-family: Calibri;
            font-size: 20px;
            color: white;
            width: 100%;
            display: inline-block;
        }
        a {
            color: yellow;
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <div class="content">
        <div id="ribbon">

            <h1> Tee ise <span class="arrow"></span> </h1>

        </div>
    </div>


    <div id="logoparent">
        <div class="imeline">
            IMELINE </div>
        <div class="logo-parem">
            Ajalugu
        </div>
    </div>
    <div class="clear"></div>
    <br />
    <br>
    <div class="valiTeema">
        <div class="text-block">
            <p>
                Vali nende põnevate lugude seast välja enda lemmikud.<br />
                Sinu ja teiste lugejate soovide põhjal paneme kokku ajakirja novembri numbri. Nii sünnib Eesti esimene lugejate poolt kokku pandud ajakiri, mille Sina võid saada endale tasuta!
            </p>
        </div>
    </div>
    <div class="valiArtiklid"> Vali oma lemmikartiklid </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <div class="paneKokku">
        <h3>Pane kokku omaenda Imeline Ajalugu</h3>


        Vali igast teemast kuni 3 artiklit Imelise Ajaloo novembri numbrisse.
        Tänutäheks saadame selle Sulle tasuta.
        <br />Kui Sul endal on ajakiri juba tellitud, telli tasuta
        number heale sõbrale, kolleegile või sugulasele.
    </div>
    
    <div class="accordion">Pingelised sündmused</div>
    <div class="panel">
        <div id="y" align-content="right"></div>
        <div class="parent">
            <span class="child"><input type="checkbox" class="checkBox" id="check_id1" onclick="checkTotalCheckedBoxes()"></span>
            <div id="space"></div>
            <span class="child"><img src="/images/aaretejaht.png" width="50" height="50" alt="Aaretejaht" /></span>
            <div id="space"></div>
            <span class="child">
                <strong>Aaretejaht</strong>
                <br />1820: Hispaanlased lastivad laeva aaretega, kuid see röövitakse ja aare peidetakse väikesele saarele.
                Tänapäeva aaretejahtija läheb seda otsima.</>
            </span>

        </div>
        <div class="parent">
            <span class="child">
                <input type="checkbox" class="checkBox" id="check_id2" onclick="checkTotalCheckedBoxes()">
            </span>
            <div id="space"></div>
            <span class="child"><img src="/images/purustav-orkaan.png" width="50" height="50" alt="Purustav orkaan" /></span>
            <div id="space"></div>
            <span class="child">
                <strong>Purustav orkaan</strong>
                <br />
                1900: Orkaan purustab Galvestoni linna. Katastroofis hukkub 8000 inimest ning see USA linn
                kaotab igaveseks oma jõukuse ja sära.</>
            </span>
        </div>
        <div class="parent">
            <span class="child">
                <input type="checkbox" class="checkBox" id="check_id3" onclick="checkTotalCheckedBoxes()">
            </span>
            <div id="space"></div>
            <span class="child"><img src="/images/hirmsaim-lennukatastroof.png" width="50" height="50" alt="Hirmsaim lennukatastroof" /></span>
            <div id="space"></div>
            <span class="child">
                <strong>Hirmsaim lennukatastroof</strong>
                <br />1977: Gran Canaria lennuväljal plahvatanud pommi tõttu suunatakse paljud lennud Tenerifele.
                Tekkinud segaduses juhtub ajaloo suurim lennuõnnetus.</>
            </span>
        </div>
        <div class="parent">
            <span class="child">
                <input type="checkbox" class="checkBox" id="check_id4" onclick="checkTotalCheckedBoxes()">
            </span>
            <div id="space"></div>
            <span class="child"><img src="/images/samuraide-kattemaks.png" width="50" height="50" alt="Samuraide kättemaks" /></span>
            <div id="space"></div>
            <span class="child"> 
                <strong>Samuraide kättemaks</strong>
                <br />1703: Noor mees sunnitakse enesetapule ning tema klanni samuraid peavad perekonna au taastama.</>
            </span>
        </div>
        <div class="parent">
            <span class="child">
                <input type="checkbox" class="checkBox" id="check_id5" onclick="checkTotalCheckedBoxes()">
            </span>
            <div id="space"></div>
            <span class="child"><img src="/images/project-azorian.png" width="50" height="50" alt="Project Azorian" /></span>
            <div id="space"></div>
            <span class="child">
                <strong>Project Azorian</strong>
                <br />1968: Ootamatult upub nõukogude allveelaev K-129 tuumarakettidega pardal.
                Mõne aasta pärast alustab CIA vaenlase allveelaeva koopia ehitamist - algab projekt Azorian.</>
            </span>
        </div>
        <div class="parent">
            <span class="child">
                <input type="checkbox" class="checkBox" id="check_id6" onclick="checkTotalCheckedBoxes()">
            </span>
            <div id="space"></div>
            <span class="child"><img src="/images/viis-oopaeva-porgus.png" width="50" height="50" alt="Viis ööpäeva põrgus" /></span>
            <div id="space"></div>
            <span class="child">
                <strong>Viis ööpäeva põrgus</strong>
                <br /> 1977: Palestiina terroristid kaaperdavad reisilennuki. Tund-tunnilt kustub
                reisijate lootus eluga pääseda. Lääne-Saksamaa saadab Somaaliasse teel olevale
                lennukile vastu eriüksus</>
            </span>
        </div>
        <div class="parent">
            <span class="child">
                <input type="checkbox" class="checkBox" id="check_id7" onclick="checkTotalCheckedBoxes()">
            </span>
            <div id="space"></div>
            <span class="child"><img src="/images/tuumakatastroof-tsernobol.png" width="50" height="50" alt="Tsernobol" /></span>
            <div id="space"></div>
            <span class="child">
                <strong>Tuumakatasroof Tšernobõlis</strong><br />
                1986: Suur osa Nõukogude Liidu elektrist tuleb tuumajaamadest, kuid
                nende ehitamisel on tehtud mitmeid vigu. 26. aprillil toimub Tšernobõli
                tuumajaamas plahvatus ning ajaloo suurim tuumakatastroof saab tõeks.</>
            </span>
        </div>

        <div class="valmis">
            <button class="active3">
                Järgmine teema
            </button>
        </div>
        <br />
        <br />
    </div>
    <div class="accordion">Kuulsad teod</div>
    <div class="panel">
        <div class="w3-container">
            <div id="yy"></div>
            <div class="parent">
                <span class="child">
                    <input type="checkbox" class="checkBox2" id="check_id12" onclick="checkTotalCheckedBoxes2()">
                </span>
                <div id="space"></div>
                <span class="child"><img src="/images/project-azorian.png" width="50" height="50" alt="Project Azorian" /></span>
                <div id="space"></div>
                <span class="child">
                    <strong>Project Azorian</strong>
                    <br />
                    1968: Ootamatult upub nõukogude allveelaev K-129 tuumarakettidega pardal.
                    Mõne aasta pärast alustab CIA vaenlase allveelaeva koopia ehitamist -
                    algab projekt Azorian.
                    </>
                </span>
            </div>

            <div class="parent">
                <span class="child">
                    <input type="checkbox" class="checkBox2" id="check_id13" onclick="checkTotalCheckedBoxes2()">
                </span>
                <div id="space"></div>
                <span class="child"><img src="/images/viis-oopaeva-porgus.png" width="50" height="50" alt="Viis ööpäeva põrgus" /></span>
                <div id="space"></div>
                <span class="child">
                    <strong>Viis ööpäeva põrgus</strong>
                    <br />
                    1977: Palestiinsa terroristid kaaperdavad reisilennuki.
                    Tund-tunnilt kustub reisijate lootus eluga pääseda. Lääne-Saksamaa
                    saadab Somaaliasse teel olevale lennukile vastu eriüksus
                    </>
                </span>
            </div>
        </div>
    </div>
    <div class="accordion">Igapäevane elu</div>
    <div class="panel">
        <div class="w3-container">
            <div id="yyy"></div>
            <div class="parent">
                <span class="child">
                    <input type="checkbox" class="checkBox3" id="check_id21" onclick="checkTotalCheckedBoxes3()">
                </span>
                <div id="space"></div>
                <span class="child"><img src="/images/tuumakatastroof-tsernobol.png" width="50" height="50" alt="Tsernobol" /></span>
                <div id="space"></div>
                <span class="child">
                    <strong>Tuumakatasroof Tšernobõlis</strong>
                    <br />
                    1986: Suur osa Nõukogude Liidu elektrist tuleb tuumajaamadest,
                    kuid nende ehitamisel on tehtud mitmeid vigu. 26. aprillil toimub
                    Tšernobõli tuumajaamas plahvatus ning ajaloo suurim tuumakatastroof saab
                    tõeks.
                    </>
                </span>
            </div>
        </div>
    </div>
    <div class="accordion">Suured konfliktid</div>
    <div class="panel">
        <div class="w3-container">
            <div id="yyyy"></div>
            <div class="parent">
                <span class="child">
                    <input type="checkbox" class="checkBox4" id="check_id22" onclick="checkTotalCheckedBoxes4()">
                </span>
                <div id="space"></div>
                <span class="child"><img src="/images/aaretejaht.png" width="50" height="50" alt="Aaretejaht" /></span>
                <div id="space"></div>
                <span class="child">
                    <strong>Aaretejaht</strong>
                    <br />
                    1820: Hispaanlased lastivad laeva aaretega, kuid see röövitakse ja aare peidetakse väikesele saarele.
                    Tänapäeva aaretejahtija läheb seda otsima.
                    </>
                </span>
            </div>
        </div>
    </div>
    <br />
    <div class="valmis">
        <button class="disabled">
            Valmis!
        </button>
    </div>

    <br />
    <br />
    <br />
    <div class="parent">
        <div class="alumine-vasak">
            <strong>Imeline Ajalugu</strong> on põhjamaade populaarseim ajalooajakiri, millel on Eestis üle 50 000 lugeja.
            Ajakiri ilmub kord kuus, igas numbris on põnevad ja rikkalikult illustreeritud lood ligi 100 leheküljel.
            Imelist Ajalugu annab Eestis välja AS Äripäev alates 2011 aaasta sügisest.
            <br />
            <br />
            <br />
        </div>
        <div class="alumine-parem">
            <img src="/images/covers.jpg" class="img-responsive" alt="Imeline Ajalugu kaaned" height="250" width="220">
        </div>
    </div>
    <div class="clear"></div>
    <br />
    <div class="footer">
        <a href="#container" data-reveal-id="exampleModal" style="text-decoration-color: yellow">Tutvu kampaania tingimustega</a>

        <div id="container">
            <div id="exampleModal" class="reveal-modal">
                <h2>Lorem ipsum</h2>
                <p>
                    <font size="3">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ut vulputate nunc. In pharetra, elit eu convallis efficitur, velit diam malesuada eros, porta dignissim nibh leo rhoncus mi. Quisque ut congue tortor, sit amet ultricies elit. Duis a feugiat magna. Nulla maximus porttitor ultricies. Cras elit leo, convallis nec purus semper, fringilla vehicula metus. Phasellus diam massa, varius sed varius ut, congue non nisi. Curabitur eget nulla in dui condimentum dictum. Morbi lacinia gravida mollis. Sed sit amet nunc rutrum, viverra sapien eu, gravida ligula. Nulla massa enim, convallis dapibus tempus eget, hendrerit nec risus. Ut ut nulla vitae nunc hendrerit dictum non nec enim. Curabitur gravida mollis efficitur.

                    </font>
                </p>
                <a href="#" class="close-reveal-modal">×</a>

            </div>
        </div>
        <p>Klienditeeninduse e-post: <a href="mailto:register@imelineajalugu.ee">register@imelineajalugu.ee</a>, tel: 667 0099 (tööpäeviti 9–17)  </p>


    </div>

    <script>
        var acc = document.getElementsByClassName("accordion");
        var panel = document.getElementsByClassName('panel');

        for (var i = 0; i < acc.length; i++) {
            acc[i].onclick = function () {
                var setClasses = !this.classList.contains('active');
                setClass(acc, 'active', 'remove');
                setClass(panel, 'show', 'remove');

                if (setClasses) {
                    this.classList.toggle("active");
                    this.nextElementSibling.classList.toggle("show");
                }
            }
        }
        function setClass(els, className, fnName) {
            for (var i = 0; i < els.length; i++) {
                els[i].classList[fnName](className);
            }

        }
        window.checkTotalCheckedBoxes = function () {
            var x = $(".checkBox:checked").length;
            document.getElementById("y").innerHTML = x;
        };

        window.checkTotalCheckedBoxes2 = function () {
            var m = $(".checkBox2:checked").length;
            document.getElementById("yy").innerHTML = m;
        };

        window.checkTotalCheckedBoxes3 = function () {
            var c = $(".checkBox3:checked").length;
            document.getElementById("yyy").innerHTML = c;
        };
        window.checkTotalCheckedBoxes4 = function () {
            var n = $(".checkBox4:checked").length;
            document.getElementById("yyyy").innerHTML = n;
        };

        $('a#first').click(function () {
            $('div#container').show();
        });
        $('a#last').click(function () {
            $('div#container').hide();
        });

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   // <input type="checkbox" class="checkBox" id="check_id1" onclick="()">
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   /* function checkTotalCheckedBoxes() {
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        var checkLength = 0;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        var boxes = document.getElementById("yyy").getElementsByTagName("input");
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        for (var i = 0; i < boxes.length; i++) {
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            boxes[i].checked ? checkLength++ : null;
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        }
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        alert(checkLength + " boxes are checked.");
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    }*/

    </script>


    <!--    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Pingelised sündmused</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>-->
</div>
</body>

</html>
